.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

assets/
system/
uploads/
font/
image/
uploads/
user_guide/

/backup_cvsu_041221_0054.sql
/backup_cvsu_230223_0735.sql